{% extends "base.html" %} {% block title%}login{%endblock%}

{% block head %}  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">{% endblock %}

{%block content %}
 <form class="login" method="POST">
    <h2>Welcome, User!</h2>
    <p>Please log in</p>
    <input type="text" name = "username" placeholder="User Name" />
    <input type="password" name ="password" placeholder="Password" />
    <input type="submit" value="Log In" />
    <div class="links">
      <a href="#">Forgot password</a>
      <a href="#">Register</a>
    </div>
  </form> {%endblock%}

  